{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item "><a href="{% url 'section_list' %}"> Sections</a></li>
    <li class="breadcrumb-item active">{{ section }}</li>
{% endblock %}


{% block content%}
<table class="table table-striped table-bordered">
    <thead>
     <tr>
      <th>Title</th>
      <th>Note</th>
      <th>Extra Note</th>
      <th>Extra</th>
     </tr>
    </thead>
    <tbody>
    {% for chapter in section.chapters.all %}
    <tr>
        <td><a href="{% url 'item_list' chapter.pk %}">{{chapter.title}}</a></td>
        <td>{{chapter.note1}}</td>
        <td>{{chapter.note2}}</td>
        <td>{{chapter.note3}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}