<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
</head>
<body>
<table border="1">
    <thead>
     <tr>
      <th>Title</th>
      <th>Note</th>
      <th>Extra Note</th>
      <th>Extra</th>
     </tr>
    </thead>
    <tbody>
    {% for section in sections %}
    <tr>
        <td><a href ="{% url 'chapter_list' section.pk %}" >{{section.title}}</a></td>
        <td>{{section.note1}}</td>
        <td>{{section.note2}}</td>
        <td>{{section.note3}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>