{% extends 'base.html' %}

{% block title %} sections {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Sections</li>
{% endblock %}

{% block content%}

<table class="table table-striped table-bordered">
    <thead class="thread-dark">
     <tr>
      <th scope="row">Title</th>
      <th>Note</th>
      <th>Extra Note</th>
      <th>Extra</th>
     </tr>
    </thead>
    <tbody>
    {% for section in sections %}
    <tr>
        <td><a href ="{% url 'chapter_list' section.pk %}" >{{section.title}}</a></td>
        <td>{{section.note1}}</td>
        <td>{{section.note2}}</td>
        <td>{{section.note3}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div>
    <a href="{% url 'new_section'%}" class="btn btn-info" role="button" > Add Section </a>
</div>
{% endblock %}

